@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'inter', sans-serif ;
    background-color: #1A0B2E; 
    width: 100%;
    overflow-x: hidden;
    

    
}
/* navbar style start */
.header{
    max-width: 1600px;
    
}
.navbar{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1200px;
    padding-bottom: 30px;
    padding-top: 30px;
    align-items: center;
    
}
.nav-items{
    display: flex;
    gap: 32px;
    color: white;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}

.btn{
     background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
     padding-bottom: 14px;
     padding-top: 14px;
     padding-left: 15px;
     padding-right: 18px;
     border-radius: 25px;
     border: none;
     font-size: 16px;
     font-weight: 600;
     color: white;
     cursor: pointer;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 7px;
     
}
/* banner style start */
.banner{
    background-image: url('../image/hero-bg.png'); 
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.banner-section{
    height: auto;
    width: 90%;
    text-align: center;
  
    
}
.banner-image{ 
     width: 250px;
     height: 250px;
     border-radius: 50%;
     background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0 auto;
     padding: 150px 150px;
     
   
 
}
.banner-section h2{
    font-size: 60px;
    color: white;
    font-weight: 800;
    margin-top: 40px;
}
.banner-section p{
    font-size: 15px;
    font-weight: 400;
    margin-top: 8px;
    color: white;
    text-align: center;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 24px;
 

}
.btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
    gap: 10px;
    color: white;
    cursor: pointer; 
    border: none;
    border-radius: 40px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
.btn3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
    gap: 10px;
    border-radius: 40px;
    color: #00FF88;
    border: 1px solid #00FF88;
    background-color: #1a0b2e5b;
    cursor: pointer; 
}
/* about section style */
.about{
    max-width: 1200px;
    margin: 0 auto;
    background-color: #20084074;
    padding-bottom: 30px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
   
}
.about-title{
     text-align: center;
     margin-top: 40px;
    
}
.about-title h3{
    font-size: 48px;
    font-weight: 700;
    color: white;
}
.about-title p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 16px;
    color: #dcdbdbf9;
    
}
.title-text{
    padding-top: 30px;
   
  
}
.about-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 140px;
    margin-bottom: 100px;
    
}
.about-card h3{
    font-size: 48px;
    font-weight: 900;
    color: #00FF88;
}
.about-card p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    color: #fefefef9;
}
/* "image-container start */
.main-container h3{
    text-align: center;
    color: white;
    padding-top: 80px;
    font-size: 48px;
    font-weight: 700;
}
.image-container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    padding-top: 60px;
    padding-bottom: 50px;
   
}
.image1{
    grid-row: span 2;
    width: 380px;
    height: 465px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 25px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
   
}
.image1 img{
    width: 70px;
    height: auto;
}


.image2{
    grid-column: span 2;
    width: 790px;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 25px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    
}
.image2 img{
    width: 70px;
    height: auto;
}


.image5{
    grid-column: span 1;
    grid-row: span 1;
    background-color: rgba(53, 17, 101, 0.4);
    width: 390px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 25px;
    border-radius: 40px;
    
}
.image5 img{
    width: 70px;
    height: auto;
}

.h4{
    font-size: 24px;
    font-weight: 700;
    margin-top: 16px;
    color: white;
}
.p5{
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    color: #dcdbdbf9;

}
.image-mobaile{
    width: 20px;
    height: auto;
}
/* ifreme style code */
.section-container h2{
    font-size: 48px;
    font-style: bold;
    text-align: center;
    padding-top: 70px;
    color: white;
}
.ifreme{
   max-width: 1200px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 30px;
   margin-top: 40px;
   margin-bottom: 50px;
    
}
.iframe-card{
   
    width: 100%;
    height: auto;
    overflow: hidden;
    align-items: center;
    text-align: left;
    box-sizing: border-box;
    border-radius: 30px;
   
 } 
 .iframe-card iframe{
    width: 100% !important;
    display: block;
    margin-bottom: 0 !important;
 }
 .ifreme-text{
    background-color: rgba(37, 13, 68, 1);
    
 }
.ifreme-text h4{
    color: white;
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
    
}
.ifreme-text p{
    color: #c1bebef9;
    font-size: 16px;
    font-weight: 400;
    padding-top: 2px;
    padding-left: 20px;
  
    
}
.iframe-logo{
    padding-left: 20px;
    padding-bottom: 30px;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    text-align: left;
    
}
.iframe-logo img{
    padding-top: 5px;
    align-items: center;
    text-align: center;
}
/* host--card--start */
.host-heading{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-top: 80px;
    color: white;
}
.host-card{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    background-color: #24094783;
    border-radius: 25px;
}
.host-image{
    width: 200px;
    height: 200px;
    margin: 40px;
}
.host-text h3{
    font-size: 32px;
    font-weight: 700;
    color: white;
}
.host-text p{
    font-size: 16px;
    font-weight: 400;
    padding-top: 16px;
    color: #c1bebef9;
    padding-right: 10px;
}
.host-icon{
    display: flex;
    gap: 10px;
    padding-top: 20px;
}
.host-icon img{
    border: 2px solid rgba(230, 5, 189, 0.322);
    padding: 10px;
    border-radius: 50%;
}




/* responsive design */

@media screen and (max-width:576px) {
   .nav-items, .button{
    display: none;
   }
   .banner{
      background-size: 100% 100% !important;
      background-attachment: scroll;
   }
   .banner-section P{
      font-size: 16px;
   }
   .banner-image{
    width: 50%;
    padding: 20px 20px;
   }
   .banner-image img{
    width: 40%;
   }
   .button{
    display: flex;
    flex-direction: row;
    width: 100%;
   }
 /*   about-section responsive*/
   .about{
    padding-bottom: 5px;
   }
   .about-title{
    width: 90%;
    text-align: center;
   }
   .about-title h3{
    font-size: 40px;
   }
   .about-title p{
    font-size: 16px;
   }
   .about-text{
    display: flex;
    flex-wrap: wrap;

   }
   .about-card{
    width: 50%;
    margin-bottom: 30px;
    text-align: center;
   }
   /* "image-container responsive */
   .main-container h3{
    text-align: center;
    padding-top: 60px;
    font-size: 34px;
    font-weight: 700; 
    }
    .image-container{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    }
    .image1, .image2, .image5{
        width: 100%;
    }
    .ifreme{
        display: grid;
        grid-template-columns: 1fr;
        width: 90%;
        gap: 40px;
    }
    .section-container h2{
        font-size: 36px;
    }
    /* host--card--start */
    .host-card{
        display: flex;
        flex-direction: column;
    }
    .host-text{
        text-align: center;
        padding: 15px;
    }
    .host-heading{
        font-size: 40px;
       
    }
    .host-icon{
        display: flex;
        justify-content: center;
    }
    

}
